.table-header {
  background: linear-gradient(to right, #161817, #303030);
  color: #ffffff;
}
.table-data {
  background: linear-gradient(45deg, #3fa038, #188212);
}
.dot {
  height: 20px;
  width: 20px;
  background-color: rgba(100, 2, 4, 0.8);
  border-radius: 50%;
  display: inline-block;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid magenta;
}
.transparent-cell {
  background-color: #ffffff;
}
.red-cell {
  background-color: #810000;
  color: white;
  text-align: center;
}
#viewtable {
  font-family: arial;
  font-size: 36px;
  width: 50%;
  border: none;
  border-collapse: collapse;
  margin: 0 0 1em 0;
}
#throwtable {
  font-size: 26px;
  border-collapse: collapse;
  border: 5px solid black;
}
caption, th, td {
  padding: 0.4em;
}
#board-svg {
  float: left;
  width: 20%;
  vertical-align: middle;
  line-height: 38px;
}
#board-sidepanel {
  float: left;
  vertical-align: middle;
  line-height: 38px;
}
#wrap-float {
  overflow: hidden;
}
#rg-back {
  font-size: 22px;
  color: red;
}
#rg-undo {
  font-size: 22px;
  color: blue;
}
