<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <title>Dartinator</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
  <script src="{{ url_for('static', filename='view.js') }}"></script>
</head>

<body>
  <div>
    <table id="viewtable">
      <tr class="table-header">
        <td>First to {{ game_info['sets'] }} / {{ game_info['legs'] }}</td>
        <td></td>
        <td>Sets</td>
        <td>Legs</td>
        <td>Score</td>
        <td class="transparent-cell"></td>
      </tr>
      {% for i in range(0, game_info['name']|length) %}
        <tr class="table-data">
          <td>{{ game_info['name'][i] }}</td>
          <td>
            {% if game_info['starting'][i] == 1 %}
              <span class="dot"></span>
            {% endif %}
          </td>
          <td align="right">{{ game_info['playersets'][i] }}</td>
          <td align="right">{{ game_info['playerlegs'][i] }}</td>
          <td align="right">{{ game_info['playerscore'][i] }}</td>
          {% if game_info['next'][i] == 1 %}
            <td class="red-cell">&#9664;</td>
          {% else %}
            <td class="transparent-cell"></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
  <div id="notificationbox" class="notificationbox">
  </div>
</body>

</html>
