<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <title>Dartinator</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {

    //  // sending a connect request to the server.
      var socket = io.connect('http://localhost:5000');

      socket.on('register_throw', function(msg) {
        const player = msg.player;
        const next_player = msg.next_player;
        const score = msg.score;
        var table = document.getElementById("viewtable");
        for (var i = 0, row; row = table.rows[i]; i++) {
          if (row.cells[0].textContent == player) {
            row.cells[4].textContent = score;
            row.cells[5].classList.remove('red-cell');
            row.cells[5].classList.add('transparent-cell');
            row.cells[5].textContent = "";
          } else {
            if (row.cells[0].textContent == next_player) {
              row.cells[5].classList.remove('transparent-cell');
              row.cells[5].classList.add('red-cell');
              row.cells[5].textContent = "\u25c0";
            }
          }
        }
      });

    socket.on('after connect', function (msg) {
      console.log('After connect', msg);
      $('#log').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
    });
    });
  </script>
</head>

<body>
  <h1>SocketIO Example</h1>
  <h2>Receive:</h2>
  <div id="log"></div>
  <table id="viewtable">
    <tr class="table-header">
      <td>First to {{ game_info['sets'] }} / {{ game_info['legs'] }}</td>
      <td></td>
      <td>Sets</td>
      <td>Legs</td>
      <td></td>
      <td class="transparent-cell"></td>
    </tr>
    {% for i in range(0, game_info['name']|length) %}
      <tr class="table-data">
        <td>{{ game_info['name'][i] }}</td>
        <td>
          {% if game_info['starting'][i] == 1 %}
            <span class="dot"></span>
          {% endif %}
        </td>
        <td>{{ game_info['playersets'][i] }}</td>
        <td>{{ game_info['playerlegs'][i] }}</td>
        <td>{{ game_info['playerscore'][i] }}</td>
        <td class="transparent-cell"></td>
      </tr>
    {% endfor %}
    <!-- <td class="red-cell">&#9664;</td> -->
  </table>
</body>

</html>
